.button{
  color:#219601;
  background-color: #fff;
  border-radius: none;
  border-color: #fff;

  .button:hover{
    background-color: white;
  }

}

.img{
 margin-left: 180px;
 height: 60px;
 width: 80px;

}
.text{
  margin-left: 190px;
  font-size: 18px;
  font-weight: bold;
}
.submitBtn{
  width:25rem;
  
  border-radius: 24px;
}

.Login-signup{
  background-color: transparent !important;
}

