$text-black: black;
$white: white;

.password {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.label {
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 400;
	color: $text-black;
	margin-bottom: 8px;
}
.flexWrapperOne {
	background-color: $white;
	border-radius: 100px;
	padding: 19px 180px 21px 0;
	display: flex;
	align-items: center;
	border: 1px solid rgba(239, 239, 239, 1);
}
.input {
	width: 211px;
	padding: 7px 9px 0 19px;
	font-family: "Montserrat";
	font-size: 14px;
	font-weight: 400;
	color: rgba(92, 92, 92, 1);
	&::placeholder {
		width: 211px;
		font-family: "Montserrat";
		font-size: 14px;
		font-weight: 400;
		color: rgba(92, 92, 92, 1);
	}
}
